body {
  background-color: #E1EDCC;
}

/* Polygon 1 */
.triangle1 {
  width: 0;
  height: 0;
  border-left: 76px solid transparent;
  border-right: 74px solid transparent;
  border-bottom: 135px solid #F0DAC9;
  margin-left: 25px;
  margin-top: 18px;
}

h1 {
  position: absolute;
  width: 213px;
  height: 66px;
  left: 75px;
  top: 50px;
  margin-top: 24px;
  margin-left: 28px;
  font-family: Sansation Light;
  font-family: optima;
  font-weight: 300;
  font-size: 70px;
  line-height: 50px;
  color: #000000
}

/* ABOUT */
h2 {
  position: absolute;
  width: 110px;
  height: 32px;
  left: 408px;
  top: 78px;
  margin-top: 40px;
  margin-left: 380px;
  font-family: Rubik One;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 25px;
  color: #000000;
}

/* PROJECTS */
h3 {
  position: absolute;
  width: 153px;
  height: 24px;
  left: 502px;
  top: 78px;
  margin-top: 40px;
  margin-left: 410px;
  font-family: Rubik One;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 25px;
  color: #000000;
}

/* BLOGS */
h4 {
  position: absolute;
  width: 90px;
  height: 24px;
  left: 634px;
  top: 78px;
  margin-top: 40px;
  margin-left: 440px;
  font-family: Rubik One;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 25px;
  color: #000000;
}

/* CONTACT */
h5 {
  position: absolute;
  width: 225px;
  height: 19px;
  left: 724px;
  top: 78px;
  margin-top: 40px;
  margin-left: 470px;
  font-family: Rubik One;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 25px;
  color: #000000;
}

p1 {
  position: absolute;
  width: 663px;
  height: 255px;
  left: 41px;
  top: 200px;
  font-family: Didot;

  font-weight: normal;
  font-size: 120px;
  line-height: 140px;
  margin-top: 87px;
  color: #000000;
}

.button {
  height: 25px;
  width: 25px;
  background-color: #FFC7C7;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button1 {
  border-radius: 50%;
  margin-top: 550px;
  margin-left: 620px;
}

.button2 {
  border-radius: 50%;
  margin-top: 550px;
  margin-left: 10px;
}

.button3 {
  border-radius: 50%;
  margin-top: 550px;
  margin-left: 10px;
}

.button4 {
  border-radius: 50%;
  margin-top: 550px;
  margin-left: 10px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button5 {
  border-radius: 50%;
  margin-top: 550px;
  margin-left: 10px;
}

.dot1 {
  height: 25px;
  width: 25px;
  background: #E1EDCC;
  border-radius: 50%;
  display: inline-block;
  margin-top: 550px;
  margin-left: 620px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dot2 {
  height: 25px;
  width: 25px;
  background: #E1EDCC;
  border-radius: 50%;
  display: inline-block;
  margin-top: 550px;
  margin-left: 10px;
}

.dot3 {
  height: 25px;
  width: 25px;
  background: #E1EDCC;
  border-radius: 50%;
  display: inline-block;
  margin-top: 550px;
  margin-left: 10px;
}

.dot4 {
  height: 25px;
  width: 25px;
  background: #E1EDCC;
  border-radius: 50%;
  display: inline-block;
  margin-top: 550px;
  margin-left: 10px;
}

.dot5 {
  height: 25px;
  width: 25px;
  background: #E1EDCC;
  border-radius: 50%;
  display: inline-block;
  margin-top: 550px;
  margin-left: 10px;
}

.rectangle {
  width: 0;
  height: 0;
  width: 331px;
  height: 370px;
  background: #F0DAC9;
  box-shadow: 20px 20px 4px #FFC7C7, 0px 0px 0px rgba(0, 0, 0, 0.25);
  font-size: 28px;
  text-decoration: none;
  margin-left: 950px;
  margin-top: -500px;
}

a:link {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #F0DAC9;
  background-color: transparent;
  text-decoration: underline;
}
